body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6)
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: #FFFFFF;
    color: #3040C4;
    transition: 1s;
}




.section-about-for, .bg-grey{
    background: #F4F5F7;
}

.section-about-for-grey{
    padding: 77px 0;
    display: flex;
    justify-content: space-around;
}

.about-for{
    max-width: 555px;
}

.text-regular{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.text-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}




.inbox{
    background:  rgb(252, 240, 227, 0.4);
}

.inbox-flex{
    display: flex;
    justify-content: space-around;
}

.inbox-flex__img{
    margin-top: 142px;
    animation-name: inbox;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes inbox{
    0%{
        height: 0;
        width: 0;
    }
    50%{
        height: 710px;
        width: 625px; 
    }
    100%{
        height: 510px;
        width: 425px;
    }
}

.inbox-flex__img:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}

.text-mini__orange{
    line-height: 34px;  
    color: rgb(241, 89, 43);
    margin-top: 115px;
}

.inbox-flex__h3{
    width: 462px;
}

.inbox-flex__text-inner{
    margin-top: 30px;
}

.inbox-flex-content-block{
    max-width: 519px;
    padding: 30px;
    margin: 44px 0 116px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.inbox-flex-content-block__p{
    max-width: 459px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
}

.span_bold{
    font-weight: 700;
}

.inbox-flex-content-block-otz{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.inbox-flex-content-block-otz__p{
    margin-left: 11px;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}







.img-logo-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-logo {
    margin-top: 48px;
    margin-bottom: 76px;
}



.busy{
    padding-top: 100px;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.text-mini__blue{
    color: #0189D1;
}

h3{
    font-weight: 700;
    font-size: 56px;
}

.title-inner{
    line-height: 56px;
    max-width: 462px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
    color: #2B292D;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
}

.busy_button{
    margin: 39px 0 87px;
}

.busy-img{
animation-name: animation;
position: relative;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes animation{
    0%{
        right:0;
    }
    50%{
        right:50px;
    }
    100%{
        right:0;
    }
}

.busy-img:hover{
    transform: scale(1.2);
}

.line__hr{
    display: inline-block;
    width: 150px;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    text-align: left;
    /*margin-top: 87px;*/
}

.info{
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: underline;
    color: #3040C4;
}



.base{
    background-color: rgb(0, 161, 198, 0.07);
    padding-top: 108px;
    padding-bottom: 108px;
}

.div-engage{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    color: #2B292D;
}

.engage{
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
}

.understand{
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-top: 24px;
}

.early{
    font-size: 24px;

    line-height: 34px;
    padding-top: 30px;
}

.buttons_two{
    padding-top: 34px;
    text-align: center;
}

.button-learn{
    margin-left: 10px;
    font-weight: bold;
    line-height: 13px;
    color: black;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;;
}

.button-learn:hover{
    background: #3040C4;
    color: #FFFFFF;
    transition: 1s;
}

.categories{
    margin-top: 111px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    cursor: pointer;
}

.categories_grid{
    width: 100%;
    height: 100%;
    transform-origin: 20px;
    animation-name: categories_grid;
    position: relative;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.categories_grid:nth-child(2){
    animation-delay: 7s;
}

.categories_grid:nth-child(3){
    animation-delay: 9s;
}

.categories_grid:nth-child(4){
    animation-delay: 11s;
}

.categories_grid:hover{
    transform: translate(10px, 20px);
}

@keyframes categories_grid{
    0%{
        bottom:0;
    }
    25%{
        bottom:-20px;
    }
    50%{
        top:20px;
    }
    75%{
        bottom:-20px;
    }
    85%{
        top:20px;
    }
    100%{
        bottom:0;
    }
}


.categories > div{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-top: 22px;
    transition: 1s;
}

.categories > div:hover{
    background: #3141C5;
    color: #FFFFFF;
    transition: 1s;
}

.p-categories{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #2B292D;
    padding: 22px 25px 33px;
}


.surfaces{
    padding-top: 90px;
}

.text-surfaces{
    max-width: 588px;
    margin: 0 auto;
    text-align: center;
}

.h_surfaces{
    max-width: 588px;
    color: #000000;
}

.div-p_kills{
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
}

.p_kills{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    margin-top: 26px;
}

.grid_wrapper{
    padding-top: 97px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 91px;
  
}

.grid_wrapper__img{
    animation-name: grid_wrapper__img;
    position: relative;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-iteration-count: infinite;
}

@keyframes grid_wrapper__img{
    0%{
        border-radius: 0;
    }
    50%{
        border-radius: 30%;
    }
    100%{
        border-radius: 0;
    }
}

.grid_wrapper__img:hover{
    transform: rotate(10deg);
}



.grid_wrapper > img:nth-child(3), img:nth-child(4){
    grid-row: span 2;
}


.grid_wrapper{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.grid_wrapper > img{
    width: 100%;
    height: 100%;
}

.grid_wrapper > img:nth-child(1){
    grid-area: one;
}

.grid_wrapper > img:nth-child(2){
    grid-area: two;
}

.grid_wrapper > img:nth-child(3){
    grid-area: three;
}

.grid_wrapper > img:nth-child(4){
    grid-area: four;
}

.grid_wrapper > img:nth-child(5){
    grid-area: five;
}

.grid_wrapper > img:nth-child(6){
    grid-area: six;
}

.grid_wrapper > img:nth-child(7){
    grid-area: seven;
}


.bg-grey{
    padding: 73px 0;
}

.free-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
}

.free-text{
    font-size: 22px;
    line-height: 32px;
    max-width: 555px;
    margin-bottom: 26px;
}

.free-input{
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    color: #2B292D;
}

.free-p{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.animation_img{
    animation-name: img;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img{
    0%{
        top:0;
    }
    25%{
        top:-25px;
    }
    50%{
        top:-50px;
    }
    75%{
        top:-25px;
    }
    100%{
        top:0;
    }
}



.footer-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo{
    margin-top: 139px;
}

.footer-flex-block-text{
    max-width: 360px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-flex-block-icon{
    margin-top: 25px;
}

.footer-flex-block-icon > a{
    text-decoration: none;
    margin-right: 10px;
}


.footer-flex-list__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-top: 151px;
}

.footer-flex-list__li{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-flex-list__li>a{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-hr{
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-top: 59px;
}

.footer-flex-aside{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-top: 13px;
}

.footer-flex-aside__li{
    display: inline-block;
}

.footer-flex-aside__li > a{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-flex-aside__li:not(:last-child){
    margin-right: 15px;
}

.footer-flex-icon > a{
    text-decoration: none;
}

.footer-flex-icon > a:not(:last-child){
    margin-right: 20px;
}










@media (max-width: 1200px){

    .container{
        max-width: 1040px;
    }

    .section-about-for-grey{
        padding: 60px 0;
    }

    .img-logo {
        margin-bottom: 60px;
    }

    .inbox-flex__img {
        margin-top: 130px;
    }

    .busy{
        padding-top: 80px;
    }

    .info {
        padding: 30px 0 90px;
    }

    .base {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .categories {
        margin-top: 90px;
    }

    .grid_wrapper {
        padding-top: 90px;
    }

    .footer-logo {
        margin-top: 100px;
    }

    .footer-flex-list__title{
        margin-top: 120px;
    }
}



@media (max-width: 1140px){

    .container{
        max-width: 950px;
    }

    .header{
        padding: 15px 0;
        display: none;
    }

    .inbox-flex__img {
        margin-top: 120px;
    }

    .text-mini__orange {
        margin-top: 105px;
    }

    .busy{
        padding-top: 80px;
    }

    .info-p{
        max-width: 320px;
    }

}



@media (max-width: 1090px){

    .container{
        max-width: 750px;
    }

    .section-about-for-grey{
        flex-direction: column;
        text-align: left;
    }

    .about-for{
        max-width: 432px;
        margin: 0 auto;
    }

    .about{
        margin-bottom: 20px;
    }

    .img-logo{
        margin: 73px 0 95px;
    }

    .img-logo-div{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 40px;
    }


    .img-logo-div > img:nth-child(1){
        grid-area: one;
    }

    .img-logo-div > img:nth-child(2){
        grid-area: two;
    }

    .img-logo-div > img:nth-child(3){
        grid-area: three;
    }


    .img-logo-div > img:nth-child(4){
        grid-area: four;
    }


    .img-logo-div > img:nth-child(5){
        grid-area: five;
    }


    .img-logo-div > img:nth-child(6){
        grid-area: six;
    }

    .inbox-flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .text-mini__orange {
        margin-top: 57px;
        text-align: center;
    }

    .inbox-flex__h3{
        max-width: 462px;
        margin: 0 auto;
        line-height: 52px;
        text-align: center;
        letter-spacing: -0.5px;
    }

    .inbox-flex__text-inner{
        text-align: center;
        padding-top: 15px;
    }

    .inbox-flex-content-block{
        margin-bottom: 75px;
    }

    .inbox-flex__img {
        width: 422px;
        height: 492px;
        margin-top: 0px;
        margin-bottom: 69px;
    }


    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .text-mini{
        margin-bottom: 18px;
    }

    h3{
        font-size: 48px;
    }

    .title-inner{
        max-width: 318px;
        margin: 0 auto;
        margin-bottom: 19px;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
        max-width: 419px;
        margin: 0 auto;
    }

    .busy_button{
        margin: 41px 0 37px;
    }

    .line__hr{
        display: none;
    }


    .info-flex > div:not(:first-of-type){
        display: none;
    }


    .info-flex:first-child{
        max-width: 320px;
        text-align: center;
    }

    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "one two"
        "three four";
        row-gap: 64px;
        column-gap: 38px;
    }
    
    .categories_grid:nth-child(1){
        grid-area: one;
    }
    
    .categories_grid:nth-child(2){
        grid-area: two;
    }
    
    .categories_grid:nth-child(3){
        grid-area: three;
    }
    
    .categories_grid:nth-child(4){
        grid-area: four;
    }

    .categories_grid{
        width: 100%;
        height: 100%;
    }

    .base {
        padding: 50px 0 79px;
    }

    .understand{
        padding-top: 27px;
    }

    .early{
        font-size: 20px;
        line-height: 26px;
        padding-top: 27px;
    }

    .surfaces{
        padding-top: 113px;
    }

    .text-surfaces{
        font-size: 48px;
        line-height: 56px;
    }

    .grid_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "one three"
        "four three"
        "four five"
        "six two";
        gap: 40px;
        padding: 115px 0 125px;
    }

    .grid_wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .grid_wrapper > img{
        width: 100%;
        height: 100%;
    }

    .free-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .free-title{
        max-width: 325px;
        margin: 0 auto;
        font-size: 48px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
    }

    .free-text{
        max-width: 590px;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        margin: 51px 0 35px;
    }

    .free-input{
        max-width: 290px;
    }

    .free-button{
        padding: 17px 92px 19px 94px;
    }

    .free-p{
        max-width: 431px;
        margin: 0 auto;
        margin-top: 22px;
    }

    .animation_img{
        margin-top: 45px;
    }

    .footer-flex, .footer-logo{
        display: block;
    }

    .footer-flex{
        max-width: 315px !important;
    }

    .footer-logo > div:first-child{
        margin-right: 0;
        margin-bottom: 32px;
    }

    .footer-logo, .footer-flex-block-icon{
        text-align: center;
    }

    .footer-flex-block-text{
        display: none;
    }

    .footer-flex-block-icon > a:first-child{
        margin-right: 46px;
    }

    .footer-flex-list{
        align-items: flex-start;
    }

    .footer-flex-list__title {
        margin-top: 33px;
    }

    .footer-hr{
        display: none;
    }

    .footer-flex-aside{
        flex-direction: column;
    }

    .footer-flex-aside{
        max-width: 315px !important;
    }

    .footer-flex-item{
        margin-top: 39px;
    }

    .footer-flex-icon{
        margin-top: 28px;
    }
     

}



@media (max-width: 1000px){

    .container{
        max-width: 850px;
    }

    .img-logo-div{
        align-items: center;
        justify-items: center;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .line__hr{
        display: none;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .grid_wrapper{
        display: grid;
        grid-template-areas:
        "one three"
        "two three"
        "four five"
        "four six";
        gap: 50px;
    }

    .grid_wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }
    
}



@media (max-width: 850px){

    .container{
        max-width: 500px;
    }

    .img-logo{
        margin: 50px 0 50px;
    }

    .text-mini{
        font-size: 20px;
    }

    h3{
        font-size: 43px;
    }

    .title-inner{
        max-width: 390px;
    }

    .line__hr{
        display: none;
    }

    .engage{
        font-size: 20px;
    }

    .understand{
        line-height: 50px;
    }

    .early{
        max-width: 350px;
        margin: 0 auto;
    }

    .categories {
        margin-top: 75px;
    }

    .surfaces{
        padding-top: 80px;
    }

    .grid_wrapper{
        padding: 90px 0;
    }

    .bg-grey {
        padding: 73px 0 60px;
    }

    .free-text {
        margin: 40px 0 35px;
    }

    .free-button {
        padding: 17px 35px 19px 35px;
    }

    .free-p {
        max-width: 290px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .animation_img {
        margin-top: 85px;
    }

    .footer-logo {
        margin-top: 70px;
    }
}



@media (max-width: 550px){

    .container{
        max-width: 430px;
    }

    .section-about-for-grey{
        padding: 50px 0;
    }

    .about {
        margin-bottom: 20px;
    }

    .text-regular {
        font-size: 20px;
        line-height: 30px;
    }

    .img-logo-div{
        gap: 25px;
    }

    .busy{
        padding-top: 50px;
    }

    h3{
        font-size: 43px;
    }

    .title-inner{
        max-width: 380px;
        margin: 0 auto;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .busy_button{
        margin: 30px 0;
    }

    .line__hr{
        display: none;
    }

    .info{
        padding: 30px 0 70px;
    }

    .info-p{
        max-width: 100%;
    }

    .understand {
        line-height: 40px;
    }

    .categories {
        margin-top: 65px;
        row-gap: 50px;
        column-gap: 16px;
    }

    .surfaces {
        padding-top: 60px;
    }

    .h_surfaces {
        line-height: 50px;
    }

    .p_kills {
        font-size: 22px;
        line-height: 30px;
        margin-top: 20px;
    }

    .grid_wrapper {
        padding: 50px 0;
        gap: 30px;
    }

    .free-input {
        max-width: 430px;
        margin: 0 auto;
    }

    .free-input::placeholder{
        text-align: center;
    }

    .free-button {
        padding: 17px 140px 19px 150px;
        margin-top: 15px;
    }

}


@media (max-width: 480px){

    .container{
        max-width: 310px;
    }

    .text-bold{
        line-height: 25px;
    }

    .text-regular {
        line-height: 25px;
    }

    .img-logo {
        margin: 34px 0 41px;
    }

    .img-logo-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "one two"
        "three four"
        "five six";
        gap: 12px;
    }

    h3{
        font-size: 38px;
    }

    .title-inner{
        line-height: 39px;
    }

    .text-inner{
        font-size: 18px;
        line-height: 25px;
    }

    .line__hr{
        display: none;
    }

    .inbox-flex{
        align-items: flex-start;
        text-align: left;
    }

    .text-mini, .text-inner {
        text-align: left;
    }

    .text-inner{
        margin: 0;
    }

    .inbox-flex-content{
        max-width: 310px;
    }

    .inbox-flex__img {
        width: 371px;
        height: 443px;
        margin-top: 0px;
        margin-bottom: 48px;
    }

    @keyframes inbox{
        0%{
            height: 0;
            width: 0;
        }
        50%{
            height: 270px;
            width: 300px; 
        }
        100%{
            height: 443px;
            width: 371px;
        }
    }

    .inbox-flex__h3{
        max-width: 310px;
        text-align: left;
        animation: none !important;
    }
    

    .inbox-flex-content-block {
        max-width: 310px;
        padding: 30px;
        margin: 44px 0 50px;
    }

    @keyframes animation{
        0%{
            right:0;
        }
        50%{
            right:10px;
        }
        100%{
            right:0;
        }
    }
    
    .understand {
        line-height: 37px;
    }

    .button-learn{
        margin-top: 15px;
    }

    .categories{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four";
        column-gap: 15px;
        margin-top: 45px;
    }

    .p-categories {
        font-size: 20px;
        line-height: 0px;
        padding: 16px 20px 25px;
    }

    .h_surfaces {
        line-height: 44px;
    }

    .grid_wrapper{
        display: block;
    }

    .grid_wrapper > img:not(:last-of-type){
        margin-bottom: 18px;
    }

    .grid_wrapper > img:nth-child(2){
        display: none;
    }
}

@media (max-width:360px){

    .container{
        max-width: 230px;
    }

    .text-bold{
        font-size: 18px;
    }

    .text-regular{
        font-size: 18px;
        line-height: 20px;
    }

    .img-logo-div{
        gap: 0px;
        height: 80%;
        width: 80%;
    }
    
    .inbox-flex__text-inner{
        max-width: 230px;
    }

    .inbox-flex-content-block {
        max-width: 215px;
    }

    .inbox-flex__img {
        width: 245px;
        height: 350px;
    }

    .inbox-flex__img:hover{
        transform: none;
    }

    @keyframes inbox{
        0%{
            height: 0;
            width: 0;
        }
        50%{
            height: 200px;
            width: 250px; 
        }
        100%{
            width: 245px;
            height: 350px;
        }
    }

    .busy {
        padding: 30px 0;
    }

    .text-mini {
        font-size: 18px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 32px;
    }

    .title-inner {
        line-height: 33px;
    }

    .text-inner {
        font-size: 16px;
        line-height: 18px;
    }

    .busy_button {
        margin: 15px 0;
    }

    .button {
        font-size: 15px;
        padding: 15px 70px;
    }

    .busy-img, .busy-img:hover{
        animation: none !important;
        transform: none;
    }

    .busy-img{
        width: 200px;
        height: 250px;
    }

    .line__hr{
        display: none;
    }

    .info-flex:first-child{
        max-width: 230px;
        text-align: center;
    }

    .base{
        padding: 40px 0 60px;
    }

    .understand {
        line-height: 35px;
        padding-top: 23px;
    }

    .button-learn{
        margin-left: 0;
    }

    .free-input, .free-button {
        width: 210px;
    }

    .free-button{
        padding: 15px 30px;
    }


    
}

@media (max-width:320px){

    .container{
        max-width: 290px;
    }

    .section-about-for-grey{
        padding: 46px 15px;
        max-width: 290px;
    }

    .text-bold, .text-regular{
        font-size: 22px;
        line-height: 32px;
    }

    .img-logo{
        margin: 0;
    }

    .img-logo-div > img{
       width: 70%;
       height: 70%;
       object-fit: contain;
   }

    .img-logo-div{
        display: grid;
        grid-template-columns: repeat(3, 107px);
        grid-template-rows: repeat(2, 94px);
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 0;
    }

    .inbox-flex {
        flex-direction: column;
    }

    .inbox-flex-pict{
        margin-top: 30px;
        margin-bottom: 0;
        width: 290px;
        height: 348px;
    }

    .text-mini__orange{
        margin-top: 32px;
    }

    .inbox-flex__h3{
        margin-top: 17px;
    }

    .busy{
        padding: 53px 0 33px;
    }

    .busy-flex{
        text-align: left;
    }

    .text-mini {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 17px;
    }

    h3{
        font-size: 40px;
    }

    .title-inner{
        line-height: 40px;
        margin-bottom: 18px;
    }

    .text-inner{
        font-size: 24px;
        line-height: 34px;
    }

    .busy_button{
        width: 160px;
        height: 48px;
        font-size: 18px;
        padding: 18px 24px;
        margin: 30px 0 40px;
    }

    .line__hr{
        display: inline-block;
    }

    .info{
        padding-bottom: 53px;
        padding-top: 0;
    }

    .info-p, .info-link{
        font-size: 18px;
        line-height: 26px;
    }


    .info-flex:first-child{
        max-width: 290px;
        text-align: center;
    }


    .info-flex > div{
        max-width: 290px;
        margin: 0;
        text-align: left;
    }

    .info-flex > div:not(:first-of-type){
        display: block;
    }

    .info-flex{
        display: flex;
        flex-direction: column;
    }

    .base {
        padding: 50px 0;
    }

    .engage {
        font-size: 22px;
    }

    .understand{
        line-height: 40px;
        padding-top: 17px;
    }

    .early{
        font-size: 24px;
        line-height: 34px;
        padding-top: 18px;
    }

    .buttons_two {
        padding-top: 30px;
    }

    .button-learn {
        margin-top: 12px;
    }

    .categories{
        margin-top: 40px;
    }

    .surfaces {
        padding-top: 78px;
    }

    .text-surfaces{
        font-size: 40px;
        line-height: 47px;   
    }

    .p_kills{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 75px;
        margin-bottom: 25px;
    }

    .grid_wrapper{
        padding:0 0 55px;
    }

    .free-input, .free-button {
        width: 290px;
    }

    .free-p{
        text-align: left;
    }

    .footer-flex, .footer-flex-aside{
        max-width: 290px !important;
    }

    .footer-flex-block-icon > a:first-child {
        margin-right: 10px;
    }

}