body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #F3C6BD;
    padding: 30px 0;
    
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* header class="header header-sticky" */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6)
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: #FFFFFF;
    color: #3040C4;
    transition: 1s;
}

.check{
    width: 30px;
    height: 2px;
    background: black;
    transition: 500ms linear;
}

.check:not(:last-of-type){
    margin-bottom:4px;
}


.menu{
    display: flex;
    align-items: center;
}

.checkbox, .check-wrapper{
    display: none;
    z-index: 5;
}





/* section class="header" */

.header-wrapper{
    display: flex;
    position: relative;
    padding-bottom: 100px;
}

.header-wrapper > div:first-of-type{
    max-width: 754px;
    z-index: 1;
}

.header-wrapper > div:last-of-type{
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 0;
}

.title{
    font-size: 80px;
    font-weight: bold;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin-bottom: 34px;
}

.header-text{
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 58px;
}

.button-white{
    font-weight: bold;
    background: white;
    color:#3040C4;
    margin-left: 10px;
}

.button-white:hover{
    background: #3040C4;
    color: white;
    transition: 1s;
}

.header__img{
    width: 650px;
}




/* section class="section-about-for" */

.section-about-for, .bg-grey{
    background: #F4F5F7;
}

.section-about-for-grey{
    padding: 77px 0;
    display: flex;
    justify-content: space-around;
}

.about-for{
    max-width: 555px;
}

.text-regular{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.text-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}



/* section class="img-logo" */

.img-logo-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-logo {
    margin-top: 48px;
}



/* section id="features" class="features" */

.features{
    margin-top: 106px;
    position: relative;
}

.features-flex{
    display: flex;
    justify-content: space-between;
    
}

.features-flex-icon{
    position: absolute;
    top: 255px;
    left: 0;
}

.text-mini-green{
    line-height: 34px;
    color: #009B4D;
}

.features-flex-content__title, .features-flex-content__text{
    max-width: 462px;
}

.features-flex-content__title{
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
}

.features-flex-content__text{
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
}

.features-flex-content-select{
    max-width: 457px;
}

.features-flex-content-select__item{
    margin-top: 20px;
}



.features-flex-content-select__text{
    display: none;
    max-width: 459px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
}


.features-flex-content-select__item > p{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    margin-left: 15px;
    cursor: pointer;
}

.features-flex-content-select__line{
    width: 457px;
    border-bottom: 1px solid black;
    opacity: 0.15;
    mix-blend-mode: normal;
    margin-top: 10px;
}

.features-flex-img{
    position: absolute;
    right: 0;
    top: 0;
}

.features-flex-img > img{
    width: 684px;
    height: 591px;
}

.features-flex-content-select__item_change-color-image{
    fill: #3142C6;
    cursor: pointer;
    transition: 2ms;
}

.features-flex-content-select__item_change-color-p{
    color: #3142C6;
    cursor: pointer;
    transition: 2ms;
}

.features-flex-content-select__line_change{
    border-bottom: 4px solid #3142C6;
    opacity: 1;
    transition: 1s;
}


/* section class="inbox" */

.inbox{
    margin-top: 110px;
    background:  rgb(252, 240, 227, 0.4);
}

.inbox-flex{
    display: flex;
    justify-content: space-around;
}

.inbox-flex__img{
    margin-top: 142px;
    animation-name: inbox;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-timing-function: ease-out;
}

@keyframes inbox{
    0%{
        height: 0;
        width: 0;
    }
    50%{
        height: 710px;
        width: 625px; 
    }
    100%{
        height: 510px;
        width: 425px;
    }
}

.text-mini__orange{
    line-height: 34px;  
    color: rgb(241, 89, 43);
    margin-top: 115px;
}

.inbox-flex__h3{
    width: 462px;
}

.inbox-flex__text-inner{
    margin-top: 30px;
}

.inbox-flex-content-block{
    max-width: 519px;
    padding: 30px;
    margin: 44px 0 116px;
    border-bottom: 4px solid #0185D0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.inbox-flex-content-block__p{
    max-width: 459px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
}

.span_bold{
    font-weight: 700;
}

.inbox-flex-content-block-otz{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.inbox-flex-content-block-otz__p{
    margin-left: 11px;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}




/* <section class="busy"> */

.busy{
    padding-top: 100px;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.text-mini__blue{
    color: #0189D1;
}

h3{
    font-weight: 700;
    font-size: 56px;
}

.title-inner{
    line-height: 56px;
    max-width: 462px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
    color: #2B292D;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
}

.busy_button{
    margin: 39px 0 87px;
}

.busy-img{
    animation-name: animation;
    position: relative;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation{
    0%{
        right:0;
    }
    50%{
        right:50px;
    }
    100%{
        right:0;
    }
}

.line__hr{
    display: inline-block;
    width: 150px;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    text-align: left;
    /*margin-top: 87px;*/
}



/* section class="info" */

.info{
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: underline;
    color: #3040C4;
}



/* section class="base" */

.base{
    background-color: rgb(0, 161, 198, 0.07);
    padding-top: 108px;
    padding-bottom: 108px;
}

.div-engage{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    color: #2B292D;
}

.engage{
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
}

.understand{
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-top: 24px;
}

.early{
    font-size: 24px;

    line-height: 34px;
    padding-top: 30px;
}

.buttons_two{
    padding-top: 34px;
    text-align: center;
}

.button-learn{
    margin-left: 10px;
    font-weight: bold;
    line-height: 13px;
    color: black;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;;
}

.button-learn:hover{
    background: #3040C4;
    color: #FFFFFF;
    transition: 1s;
}

.categories{
    margin-top: 111px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    cursor: pointer;
}

.categories_grid:hover{
    transform: translate(10px, 20px);
}


.categories > div{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-top: 22px;
    transition: 1s;
}

.categories > div:hover{
    background: #3141C5;
    color: #FFFFFF;
    transition: 1s;
}

.p-categories{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #2B292D;
    padding: 22px 25px 33px;
}




/* section class="carusel-block" */

.carusel-block{
    position: relative;
}

.carusel-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.carusel{
    max-width: 1140px;
    margin: 28px auto;
}

.carusel-block-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #3142C6;
}

.carusel-text{
    max-width: 750px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 28px;
}

.text-aqua{
    color: rgb(19, 161, 208);
}

.text-aquamarine{
    color: rgb(194, 62, 234);
}

.carusel-span{
    max-width: 750px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
    text-align: center;
}

.carusel-span > span{
    font-weight: bold;
}

.carusel-block-pict{
    position: absolute;
    top: 82px;
    right: 0px;
    opacity: 0.75;
}

.slick-slide {
    display: none;
}
.slick-dots li button:before {
    font-size: 20px;
    line-height: 55px;
    content: '◆';
    text-align: center;
    opacity: .5;
    color: green;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: green;
}




/* section class="hiring" */

.hiring-content{
    max-width: 555px;
    margin: 0 auto;
    margin-top: 106px;
}

.hiring-content__title{
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
}

.hiring-content__text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
}

.hiring__button{
    margin-top: 28px;
    text-align: center;
}

.hiring__button-button{
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 18px 28px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.hiring__button-button:hover{
    background: #FFFFFF;
    color: #3040C4;
    transition: 1s;
}


.hiring-block{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 63px;
}

.hiring-items >div{
    display: flex;
    justify-content: space-between;
}

.hiring-items{
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 20px;
}

.hiring-items > p{
    margin-top: 20px;
    display: none;
}

.hiring-position{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

.hiring-city{
    font-size: 18px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.hiring-icon{
    font-weight: bold;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.active{
    transform: rotate(90deg);
    transition: 1s;
}

.toggleBg{
    background-color: #3141C5;
}

.toggleColor{
    color: white;
}


/* section id="surfaces" class="surfaces" */

.surfaces{
    padding-top: 90px;
}

.text-surfaces{
    max-width: 588px;
    margin: 0 auto;
    text-align: center;
}

.h_surfaces{
    max-width: 588px;
    color: #000000;
}

.div-p_kills{
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
}

.p_kills{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    margin-top: 26px;
}

.grid_wrapper{
    padding-top: 97px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 91px;
  
}

.grid_wrapper__img:hover{
    transform: rotate(10deg);
}



.grid_wrapper > img:nth-child(3), img:nth-child(4){
    grid-row: span 2;
}


.grid_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.grid_wrapper__img{
    width: 100%;
    height: 100%;
}

.grid_wrapper-picters:nth-child(1){
    grid-area: one;
}

.grid_wrapper-picters:nth-child(2){
    grid-area: two;
}

.grid_wrapper-picters:nth-child(3){
    grid-area: three;
}

.grid_wrapper-picters:nth-child(4){
    grid-area: four;
}

.grid_wrapper-picters:nth-child(5){
    grid-area: five;
}

.grid_wrapper-picters:nth-child(6){
    grid-area: six;
}

.grid_wrapper-picters:nth-child(7){
    grid-area: seven;
}


/* section class="bg-grey" */

.bg-grey{
    padding: 73px 0;
}

.free-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
}

.free-text{
    font-size: 22px;
    line-height: 32px;
    max-width: 555px;
    margin-bottom: 26px;
}

.free-input{
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    color: #2B292D;
}

.free-p{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.animation_img{
    animation-name: img;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img{
    0%{
        top:0;
    }
    25%{
        top:-25px;
    }
    50%{
        top:-50px;
    }
    75%{
        top:-25px;
    }
    100%{
        top:0;
    }
}



/* footer class="footer" */

.footer-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo{
    margin-top: 139px;
}

.footer-flex-block-text{
    max-width: 360px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-flex-block-icon{
    margin-top: 25px;
}

.footer-flex-block-icon > a{
    text-decoration: none;
    margin-right: 10px;
}


.footer-flex-list__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-top: 151px;
}

.footer-flex-list__li{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-flex-list__li>a{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-hr{
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-top: 59px;
}

.footer-flex-aside{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-top: 13px;
}

.footer-flex-aside__li{
    display: inline-block;
}

.footer-flex-aside__li > a{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-flex-aside__li:not(:last-child){
    margin-right: 15px;
}

.footer-flex-icon > a{
    text-decoration: none;
}

.footer-flex-icon > a:not(:last-child){
    margin-right: 20px;
}

#up{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 48px;
    cursor: pointer;
    color: rgb(216, 113, 130);
}










@media (max-width: 1200px){

    .container{
        max-width: 1040px;
    }

    .section-about-for-grey{
        padding: 60px 0;
    }

    .img-logo {
        margin-bottom: 60px;
    }

    .inbox-flex__img {
        margin-top: 130px;
    }

    .busy{
        padding-top: 80px;
    }

    .info {
        padding: 30px 0 90px;
    }

    .base {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .categories {
        margin-top: 90px;
    }

    .grid_wrapper {
        padding-top: 90px;
    }

    .footer-logo {
        margin-top: 100px;
    }

    .footer-flex-list__title{
        margin-top: 120px;
    }
}



@media (max-width: 1140px){

    .container{
        max-width: 950px;
    }

    .header{
        padding: 15px 0;
    }

    .inbox-flex__img {
        margin-top: 120px;
    }

    .features-flex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .features-flex-content__title, .features-flex-content__text {
        margin: 0 auto;
    }


    .features-flex-content__text{
        margin-top: 12px;
    }

    .features-flex-content-select{
        margin: 0 auto;
        text-align: left;
    }

    .features-flex-content-select__text {
        margin-top: 8px;
    }

    .features-flex-img{
        position: static;
        margin-top: 49px;
    }

    .features-flex-img > img{
        width: 538px;
        height: 446px;
    }



    .text-mini__orange {
        margin-top: 105px;
    }

    .busy{
        padding-top: 80px;
    }

    .info-p{
        max-width: 320px;
    }

}



@media (max-width: 1090px){

    .container{
        max-width: 750px;
    }

    .checkbox, .check-wrapper{
        display: block;
    }

    .menu-all{
        display: none;
    }

    .menu{
        position: relative;
    }

    .check-wrapper{
        z-index: 2;
      }

    .checkbox{
        position: absolute;
        z-index: 3;
        width: 30px;
        height: 30px;
        opacity: 0;
    }

    .checkbox:checked ~ .check-wrapper>.check:first-of-type{
        transform: rotate(45deg) translate(4px, 5px);
    }

    .checkbox:checked ~ .check-wrapper>.check:last-of-type{
        transform: rotate(-45deg) translate(3px, -5px);
    }

    .checkbox:checked ~ .check-wrapper>.check:nth-child(2){
        opacity: 0;
    }

    .checkbox:checked ~ .menu-all{
        display: block;
        position: fixed;
        background: rgb(228, 144, 105);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .header-nav {
        display: block;
        text-align: center;
    }

    .menu-all{
        text-align: center;
    }

    ul{
        margin-top: 10%;
    }

    .header-li{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .header-li:not(:last-child) {
        margin-right: 0; 
    }

    .header-nav > div {
        margin-left: 0;
    }

    .header-wrapper{
        display: block;
        position: static;
    }

    .header-wrapper > div:last-of-type{
        position: static;
    }

    .header-wrapper > div:first-of-type {
        max-width: 600px;
    }

    

    .title {
        font-size: 62px;
        line-height: 1;
    }


    .button-container >.button-white{
        display: block;
        margin-left: 0;
        margin-top: 10px;
        font-size: 17px;
    }

    .header-wrapper > div:last-of-type{
        top: 40px;
        right: -100px;
    }




    .section-about-for-grey{
        flex-direction: column;
        text-align: left;
    }

    .about-for{
        max-width: 432px;
        margin: 0 auto;
    }

    .about{
        margin-bottom: 20px;
    }

    .img-logo{
        margin: 73px 0 95px;
    }

    .img-logo-div{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 40px;
    }


    .img-logo-div > img:nth-child(1){
        grid-area: one;
    }

    .img-logo-div > img:nth-child(2){
        grid-area: two;
    }

    .img-logo-div > img:nth-child(3){
        grid-area: three;
    }


    .img-logo-div > img:nth-child(4){
        grid-area: four;
    }


    .img-logo-div > img:nth-child(5){
        grid-area: five;
    }


    .img-logo-div > img:nth-child(6){
        grid-area: six;
    }

    .inbox-flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .text-mini__orange {
        margin-top: 57px;
        text-align: center;
    }

    .inbox-flex__h3{
        max-width: 462px;
        margin: 0 auto;
        line-height: 52px;
        text-align: center;
        letter-spacing: -0.5px;
    }

    .inbox-flex__text-inner{
        text-align: center;
        padding-top: 15px;
    }

    .inbox-flex-content-block{
        margin-bottom: 75px;
    }

    .inbox-flex__img {
        width: 422px;
        height: 492px;
        margin-top: 0px;
        margin-bottom: 69px;
    }

    


    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .text-mini{
        margin-bottom: 18px;
    }

    h3{
        font-size: 48px;
    }

    .title-inner{
        max-width: 318px;
        margin: 0 auto;
        margin-bottom: 19px;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
        max-width: 419px;
        margin: 0 auto;
    }

    .busy_button{
        margin: 41px 0 37px;
    }

    .line__hr{
        display: none;
    }


    .info-flex > div:not(:first-of-type){
        display: none;
    }


    .info-flex:first-child{
        max-width: 320px;
        text-align: center;
    }

    .categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "one two"
        "three four";
        row-gap: 64px;
        column-gap: 38px;
    }
    
    .categories_grid:nth-child(1){
        grid-area: one;
    }
    
    .categories_grid:nth-child(2){
        grid-area: two;
    }
    
    .categories_grid:nth-child(3){
        grid-area: three;
    }
    
    .categories_grid:nth-child(4){
        grid-area: four;
    }

    .categories_grid{
        width: 100%;
        height: 100%;
    }

    .base {
        padding: 50px 0 79px;
    }

    .understand{
        padding-top: 27px;
    }

    .early{
        font-size: 20px;
        line-height: 26px;
        padding-top: 27px;
    }

    .carusel{
        max-width: 750px;
        margin: 0 auto;
    }

    .carusel-block-pict{
        position: static;
        margin-top: 50px;
    }

    .carusel-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hiring-content__title{
        margin-bottom: 14px;
    }

    .hiring-content__text {
        max-width: 391px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 26px;
    }

    .surfaces{
        padding-top: 113px;
    }

    .text-surfaces{
        font-size: 48px;
        line-height: 56px;
    }

    .grid_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "one three"
        "four three"
        "four five"
        "six two";
        gap: 40px;
        padding: 115px 0 125px;
    }

    .grid_wrapper-picters:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .grid_wrapper__img{
        width: 100%;
        height: 100%;
    }

    .free-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .free-title{
        max-width: 325px;
        margin: 0 auto;
        font-size: 48px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
    }

    .free-text{
        max-width: 590px;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        margin: 51px 0 35px;
    }

    .free-input{
        max-width: 290px;
    }

    .free-button{
        padding: 17px 92px 19px 94px;
    }

    .free-p{
        max-width: 431px;
        margin: 0 auto;
        margin-top: 22px;
    }

    .animation_img{
        margin-top: 45px;
    }

    

    .footer-flex, .footer-logo{
        display: block;
    }

    .footer-flex{
        max-width: 315px !important;
    }

    .footer-logo > div:first-child{
        margin-right: 0;
        margin-bottom: 32px;
    }

    .footer-logo, .footer-flex-block-icon{
        text-align: center;
    }

    .footer-flex-block-text{
        display: none;
    }

    .footer-flex-block-icon > a:first-child{
        margin-right: 46px;
    }

    .footer-flex-list{
        align-items: flex-start;
    }

    .footer-flex-list__title {
        margin-top: 33px;
    }

    .footer-hr{
        display: none;
    }

    .footer-flex-aside{
        flex-direction: column;
    }

    .footer-flex-aside{
        max-width: 315px !important;
    }

    .footer-flex-item{
        margin-top: 39px;
    }

    .footer-flex-icon{
        margin-top: 28px;
    }
}


@media (max-width: 1000px){

    .container{
        max-width: 850px;
    }

    .header-wrapper{
        display: block;
        position: static;
        padding-bottom: 0;
    }

    .header-wrapper > div:last-of-type{
        position: static;
        margin-top: 40px;
    }

    .header-wrapper > div:first-of-type, .header-text{
        max-width: 800px;
        text-align: center;
    }

    .header-wrapper > div:first-of-type{
        margin-top: 30px;
    }

    .title{
        font-size: 70px;
        margin-bottom: 45px;
    }

    .header-text{
        font-size: 27px;
    }

    .button-container > .button-white{
        display: inline-block;
    }
    

    .header__img{
        width: 100%;
    }

    .img-logo-div{
        align-items: center;
        justify-items: center;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .line__hr{
        display: none;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .grid_wrapper{
        display: grid;
        grid-template-areas:
        "one three"
        "two three"
        "four five"
        "four six";
        gap: 50px;
    }

    .grid_wrapper-picters:nth-child(7){
        grid-area: seven;
        display: none;
    }
    
}


@media (max-width: 850px){

    .container{
        max-width: 500px;
    }

    .header-wrapper > div:first-of-type, .header-text{
        max-width: 450px;
        text-align: left;
    }

    .title{
        font-size: 57px;
    }

    .header-text{
        margin-bottom: 50px;
    }

    .button-container >.button:first-of-type, .button-container >.button:last-of-type{
        padding: 17px 63px;
    }

    .button-container >.button-white {
        font-size: 18px;
    }

    .img-logo{
        margin: 50px 0 50px;
    }

    .features-flex-icon {
        left: -175px;
    }

    .text-mini{
        font-size: 20px;
    }

    h3{
        font-size: 43px;
    }

    .title-inner{
        max-width: 390px;
    }

    .line__hr{
        display: none;
    }

    .engage{
        font-size: 20px;
    }

    .hiring-city{
        display: none;
    }

    .understand{
        line-height: 50px;
    }

    .early{
        max-width: 350px;
        margin: 0 auto;
    }

    .categories {
        margin-top: 75px;
    }

    .carusel{
        max-width: 500px;
        margin: 0 auto;
    }

    .carusel-text{
        margin-top: 20px;
    }

    .surfaces{
        padding-top: 80px;
    }

    .grid_wrapper__img{
        width: 95%;
        height: 94%;
    }

    .grid_wrapper{
        padding: 90px 0;
        gap: 40px;
    }

    .bg-grey {
        padding: 73px 0 60px;
    }

    .free-text {
        margin: 40px 0 35px;
    }

    .free-button {
        padding: 17px 35px 19px 35px;
    }

    .free-p {
        max-width: 290px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    .animation_img {
        margin-top: 85px;
    }

    .footer-logo {
        margin-top: 70px;
    }

    .modal-content > div > img{
        width: 80%;
        height: 80%;
    }
}


@media (max-width: 550px){

    .container{
        max-width: 430px;
    }

    .button-container >.button:first-of-type, .button-container >.button:last-of-type{
        padding: 17px 57px;
        margin-top: 0;
    }

    .button-container{
        margin-bottom: 30px;
    }

    .header-wrapper > div:last-of-type{
        display: none;
    }

    .section-about-for-grey{
        padding: 50px 0;
    }

    .about {
        margin-bottom: 20px;
    }

    .text-regular {
        font-size: 20px;
        line-height: 30px;
    }

    .img-logo-div{
        gap: 25px;
    }

    .carusel{
        max-width: 430px;
        margin: 0 auto;
    }

    .features-flex-icon {
        display: none;
    }

    .features-flex-content{
        text-align: left;
    }

    .features-flex-img > img{
        width: 400px;
        height: 438px;
    }

    .inbox-flex__h3{
        animation: none !important;
    }

    .busy{
        padding-top: 50px;
    }

    h3{
        font-size: 43px;
    }

    .title-inner{
        max-width: 380px;
        margin: 0 auto;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .busy_button{
        margin: 30px 0;
    }

    .line__hr{
        display: none;
    }

    .info{
        padding: 30px 0 70px;
    }

    .info-p{
        max-width: 100%;
    }

    .understand {
        line-height: 40px;
    }

    .categories {
        margin-top: 65px;
        row-gap: 50px;
        column-gap: 16px;
    }

    .surfaces {
        padding-top: 60px;
    }

    .h_surfaces {
        line-height: 50px;
    }

    .p_kills {
        font-size: 22px;
        line-height: 30px;
        margin-top: 20px;
    }

    .grid_wrapper {
        padding: 50px 0;
        gap: 30px;
    }

    .free-input {
        max-width: 430px;
        margin: 0 auto;
    }

    .free-input::placeholder{
        text-align: center;
    }

    .free-button {
        padding: 17px 140px 19px 150px;
        margin-top: 15px;
    }

}


@media (max-width: 480px){

    .container{
        max-width: 310px;
    }

    .title {
        font-size: 44px;
    }

    .button-container >.button:last-of-type{
        display: block;
        margin-top: 10px;
    }

    .text-bold{
        line-height: 25px;
    }

    .text-regular {
        line-height: 25px;
    }

    .img-logo {
        margin: 34px 0 41px;
    }

    .img-logo-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "one two"
        "three four"
        "five six";
        gap: 12px;
    }

    .features-flex-content-select__item > p:last-of-type{
        font-size: 21px;
    }

    h3{
        font-size: 38px;
    }

    .title-inner{
        line-height: 39px;
        text-align: left;
    }

    .text-inner{
        font-size: 18px;
        line-height: 25px;
    }

    .line__hr{
        display: none;
    }

    .carusel-block-title, .carusel-text, .carusel-span{
        text-align: left;
    }

    .carusel{
        max-width: 310px;
    }

    .carusel-block-pict  img{
        width: 100%;
    }

    .features-flex-content-select__line{
        width: 310px;
    }

    .features-flex-img > img{
        width: 250px;
        height: 300px;
    }

    .inbox-flex{
        align-items: flex-start;
        text-align: left;
    }

    .text-mini, .text-inner {
        text-align: left;
    }

    .text-inner{
        margin: 0;
    }

    .inbox-flex-content{
        max-width: 310px;
    }

    .inbox-flex__img {
        width: 371px;
        height: 443px;
        margin-top: 0px;
        margin-bottom: 48px;
    }

    @keyframes inbox{
        0%{
            height: 0;
            width: 0;
        }
        50%{
            height: 270px;
            width: 300px; 
        }
        100%{
            height: 443px;
            width: 371px;
        }
    }

    .inbox-flex__h3{
        max-width: 310px;
        text-align: left;
        animation: none !important;
    }
    

    .inbox-flex-content-block {
        max-width: 310px;
        padding: 30px;
        margin: 44px 0 50px;
    }

    @keyframes animation{
        0%{
            right:0;
        }
        50%{
            right:10px;
        }
        100%{
            right:0;
        }
    }
    
    .understand {
        line-height: 37px;
    }

    .button-learn{
        margin-top: 15px;
    }

    .categories{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four";
        column-gap: 15px;
        margin-top: 45px;
    }

    .p-categories {
        font-size: 20px;
        line-height: 0px;
        padding: 16px 20px 25px;
    }

    .h_surfaces {
        line-height: 44px;
    }

    .grid_wrapper{
        display: block;
    }

    .grid_wrapper-picters:not(:last-of-type){
        margin-bottom: 18px;
    }

    .grid_wrapper-picters:nth-child(2){
        display: none;
    }

    #up {
        right: 30px;
        font-size: 36px;
    }
}

@media (max-width:360px){

    .container{
        max-width: 230px;
    }

    .title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin-bottom: 24px;
    }

    .header-text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .button-container >.button:last-of-type{
        display: inline-block;
    }
    
    .button-container >.button-white {
        font-size: 18px;
    }

    .button-container >.button:first-of-type{
        padding: 17px 75px;
    }

    .button-container >.button:last-of-type{
        padding: 17px 65px;
        white-space: nowrap;
    }


    .text-bold{
        font-size: 18px;
    }

    .text-regular{
        font-size: 18px;
        line-height: 20px;
    }

    .img-logo-div{
        gap: 0px;
        height: 80%;
        width: 80%;
    }

    .carusel-flex {
        max-width: 230px;
        margin: 50px auto;
    }

    .carusel-block-pict{
        max-width: 230px;
    }


    .features-flex-content__title{
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .features-flex-content__text{
        font-size: 24px;
        line-height: 34px;
    }

    .features-flex-content__link > a{
        font-size: 18px;
    }

    .features-flex-content-select__line{
        width: 230px;
    }

    .features-flex-content-select__item > img{
        display: block;
    }

    .features-flex-content-select__item > p{
        font-size: 16px;
        margin-left: 0;
        margin-top: 10px;
    }

    .features-flex-content-select__item > p:last-of-type {
        font-size: 16px;
    }

    .features-flex-img > img {
        width: 230px;
        height: 250px;
    }

    .inbox-flex-content {
        max-width: 230px;
    }
    
    .inbox-flex__text-inner{
        max-width: 230px;
    }

    .inbox-flex-content-block {
        max-width: 215px;
    }

    .inbox-flex__img {
        width: 230px;
        height: 350px;
    }

    .inbox-flex__img:hover{
        transform: none;
    }

    @keyframes inbox{
        0%{
            height: 0;
            width: 0;
        }
        50%{
            height: 200px;
            width: 250px; 
        }
        100%{
            width: 245px;
            height: 350px;
        }
    }

    .busy {
        padding: 30px 0;
    }

    .text-mini {
        font-size: 18px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 32px;
    }

    .title-inner {
        line-height: 33px;
    }

    .text-inner {
        font-size: 16px;
        line-height: 18px;
    }

    .busy_button {
        margin: 15px 0;
    }

    .button {
        font-size: 15px;
        padding: 15px 70px;
    }

    .busy-img, .busy-img:hover{
        animation: none !important;
        transform: none;
    }

    .busy-img{
        width: 200px;
        height: 250px;
    }

    .line__hr{
        display: none;
    }

    .info-flex:first-child{
        max-width: 230px;
        text-align: center;
    }

    .inbox-flex__text-inner {
        max-width: 290px;
    }

    .base{
        padding: 40px 0 60px;
    }

    .understand {
        line-height: 35px;
        padding-top: 23px;
    }

    .button-learn{
        margin-left: 0;
    }

    .carusel-flex {
        max-width: 290px;
        margin-left: 15px;
    }

    .carusel-block-pict img {
        width: 80%;
    }

    .hiring-block{
        margin-left: 10px;
    }

    .hiring-position {
        font-size: 20px;
        line-height: 25px;
    }

    .hiring__button-button{
        padding: 18px 25px;
        white-space: nowrap;
    }

    .free-input, .free-button {
        width: 210px;
    }

    .free-button{
        padding: 15px 30px;
    }

}

@media (max-width:320px){

    .container{
        max-width: 290px;
    }

    .button-container >.button:first-of-type{
        padding: 17px 100px;
    }

    .button-container >.button:last-of-type{
        padding: 17px 90px;
        white-space: nowrap
    }

    .header-wrapper > div:last-of-type{
        display: block;
    }

    .section-about-for-grey{
        padding: 46px 15px;
        max-width: 290px;
    }

    .text-bold, .text-regular{
        font-size: 22px;
        line-height: 32px;
    }

    .img-logo{
        margin: 0;
    }

    .img-logo-div > img{
       width: 70%;
       height: 70%;
       object-fit: contain;
   }

    .img-logo-div{
        display: grid;
        grid-template-columns: repeat(3, 107px);
        grid-template-rows: repeat(2, 94px);
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 0;
    }

    .carusel {
        max-width: 290px;
    }

    .slick-prev:before, .slick-next:before{
        display: none;
    }

    .features-flex-content-select__item > img{
        display: inline-block;
    }

    .features-flex-content-select__item >p{
        margin-left: 12px;
    }

    .features-flex-content-select__line{
        width: 290px;
    }

    .features-flex-img > img {
        width: 290px;
        height: 240px;
    }

    .inbox-flex-content {
        max-width: 290px;
    }

    .inbox-flex__h3 {
        max-width: 290px;
    }

    .inbox-flex {
        flex-direction: column;
    }

    .inbox-flex-pict{
        margin-top: 30px;
        margin-bottom: 0;
        width: 290px;
        height: 348px;
    }

    .text-mini__orange{
        margin-top: 32px;
    }

    .inbox-flex__h3{
        margin-top: 17px;
    }

    .busy{
        padding: 53px 0 33px;
    }

    .busy-flex{
        text-align: left;
    }

    .text-mini {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 17px;
    }

    h3{
        font-size: 40px;
    }

    .title-inner{
        line-height: 40px;
        margin-bottom: 18px;
    }

    .text-inner{
        font-size: 24px;
        line-height: 34px;
    }

    .busy_button{
        width: 160px;
        height: 48px;
        font-size: 18px;
        padding: 18px 24px;
        margin: 30px 0 40px;
    }

    .line__hr{
        display: inline-block;
    }

    .info{
        padding-bottom: 53px;
        padding-top: 0;
    }

    .info-p, .info-link{
        font-size: 18px;
        line-height: 26px;
    }


    .info-flex:first-child{
        max-width: 290px;
        text-align: center;
    }


    .info-flex > div{
        max-width: 290px;
        margin: 0;
        text-align: left;
    }

    .info-flex > div:not(:first-of-type){
        display: block;
    }

    .info-flex{
        display: flex;
        flex-direction: column;
    }

    .base {
        padding: 50px 0;
    }

    .engage {
        font-size: 22px;
    }

    .understand{
        line-height: 40px;
        padding-top: 17px;
    }

    .early{
        font-size: 24px;
        line-height: 34px;
        padding-top: 18px;
    }

    .buttons_two {
        padding-top: 30px;
    }

    .button-learn {
        margin-top: 12px;
    }

    .categories{
        margin-top: 40px;
    }
    .hiring{
    max-width: 290px;
    }

    .hiring-content__title {
        margin-bottom: 18px;
    }

    .hiring-content__text{
        font-size: 24px;
        line-height: 34px;
    }

    .hiring__button {
        margin-top: 30px;
    }

    .hiring-block {
        margin-top: 39px;
    }

    .hiring-city{
        display: block;
        margin-top: 7px;
        white-space: nowrap;
    }


    .hiring-items > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "one tree"
        "two tree";
    }

    .hiring-items > div > p:nth-child(1){
        grid-column: one;
    }

    .hiring-items > div > p:nth-child(2){
        grid-area: two;
    }

    .hiring-items > div > p:nth-child(3){
        grid-area: tree; 
    }

    .hiring-position, .hiring-city{
        max-width: 199px;
    }

    .hiring-icon{
        margin: auto;
        margin-left: 40px;
        z-index: 1;
    }

    .hiring-items {
        padding: 20px;
        margin-bottom: 15px;
    }

    .surfaces {
        padding-top: 78px;
    }

    .text-surfaces{
        font-size: 40px;
        line-height: 47px;   
    }

    .p_kills{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 75px;
        margin-bottom: 25px;
    }

    .grid_wrapper{
        padding:0 0 55px;
    }

    .free-input, .free-button {
        width: 290px;
    }

    .free-p{
        text-align: left;
    }

    .footer-flex, .footer-flex-aside{
        max-width: 290px !important;
    }

    .footer-flex-block-icon > a:first-child {
        margin-right: 10px;
    }
}